<div class="trips container">
  <div class="row">
    <div class="overview col-md-12 col-md-offset-2">
      <div class="headline">
        <h1> Your amsterdam trip</h1>
        <button class="share">Share Trip</button>
      </div>
      <div class="itinearies">
        <div class="itnineary card">
          <div class="depature">
            <h3>From Berlin</h3>
          </div>
          <div class="information">
            <div class="info date">
              <p><strong>Date</strong></p>
              <p>Depature Date</p>
            </div>
            <div class="info time">
              <p><strong>Time</strong></p>
              <p>18:10</p>
            </div>
            <div class="info airline">
              <p><strong>Airline</strong></p>
              <p>Lufthansa</p>
            </div>
          </div>
          <div class="buttons">
            <button class="change">Change Flight</button>
            <button class="book">Book Flight</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
