@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

$white: #E3E3E3;
$blue: #467DCF;
$orange: #EF682E;
$lightorange: rgba(239, 104, 46, 0.6);

.wrapper {
  background: linear-gradient(160deg, #6a6ed4 0%, #a03cb0 159%);
  height: 100%;
  text-align: center;
  margin-bottom: 100px;

}

[class^='select2'] {
  border-radius: 2px !important;
  min-height: 28px !important;
  border: none !important;
}
.select2-selection--multiple{
  border:  1px solid rgb(200, 200, 200) !important;
}
.select2-selection__choice {
  color: $orange;
  width: 150px;
  text-align: left;
  background-color: white !important;
  font-size: 20px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 125px;
  h1 {
    color: $white;
    font-weight: lighter;
    letter-spacing: 17px;
  }
}

.add-origins p {
  color: $white;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.origins-box {
  display: flex;
  align-items: center;
}
.remove-field {
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 5px;
  color: $white;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  cursor: pointer;
  }

#search_origin {
  margin-bottom: 10px;
}

#add-origin {
  border: none;
  color: $blue;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 4px;
  width: 25px;
  margin-top: 10px;
  cursor: pointer;
}

.new-search {
  position: relative;
  h1 {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

.form-control {
  color: $blue;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  font-size: 18px;
  width: 180px;
}

.form-control-label {
  color: $white;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.input-form {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  .dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search_dep_date {
      margin-right: 6px;
    }
  }
}


.create-trip {
  background: linear-gradient(160deg, #F5831A 0%, $orange 80%);
  border-radius: 25px;
  text-align: center;
  color: $white;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  font-size: 18px;
  padding: 10px 8px;
  width: 82%;
  border: none;
  margin-top: 50px;
  letter-spacing: 2px;
}


// calendar

.form-control[readonly] {
  background-color: white !important;
}

.flatpickr-months .flatpickr-month {
  background-color: white !important;
}

.flatpickr-months .flatpickr-prev-month {
  color: $blue !important;
  fill: $blue !important;
}

.flatpickr-months .flatpickr-next-month {
  color: $blue !important;
  fill: $blue !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  color: $blue !important;
  background-color: white !important;
}

.flatpickr-current-month .numInputWrapper {
  color: $blue !important;
  fill: $blue !important;
}

.numInputWrapper span.arrowUp {
  color: $blue !important;
}

.numInputWrapper span.arrowDown {
  color: $blue !important;
}

.flatpickr-weekdays {
  background-color: white !important;
}

.flatpickr-weekday {
  background-color: white !important;
  color: $blue !important;
}

// range style

.flatpickr-day {
border: 0 !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 $lightorange !important;
  box-shadow: -10px 0 0 $lightorange, -5px 0 0 $lightorange !important;
}


.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange {
    -webkit-box-shadow: -10px 0 0 $lightorange !important;
  box-shadow: 5px 0 0 $lightorange, 0px 0 0 $lightorange !important;
}

.flatpickr-day.inRange {
  background-color: $lightorange !important;
  box-shadow: 5px 0 0 $lightorange !important;
  border-color: transparent;
}

.flatpickr-day.selected.range {
  -webkit-box-shadow: -10px 0 0 $lightorange !important;
  box-shadow: -10px 0 0 $lightorange!important;
}

.flatpickr-day.today {
  border-color: $orange !important;
  &:hover {
    background-color: $orange !important;
  }
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, {
  background-color: $orange !important;
  border-color: $orange !important;
}

.flatpickr-day.selected.endRange, .flatpickr-day.endRange.endRange {
  background-color: $orange !important;
  border-color: $orange !important;
}

.flatpickr-day.selected, .flatpickr-day.startRange {
  background-color: $lightorange !important;
}

//silder

.irs--flat .irs-min {
  background-color: transparent !important;
  color: $white !important;
  font-size: 12px !important;
}

.irs--flat .irs-max {
  background-color: transparent !important;
  color: $white !important;
  font-size: 12px !important;
}

.irs--flat .irs-line {
  background-color: white !important;
}


.irs--flat .irs-bar {
  background-color: $orange !important;
}

.irs--flat .irs-handle>i:first-child {
  background-color: $orange !important;
}

.irs--flat .irs-single {
  background-color: $orange !important;
  opacity: 0.9 !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  background-color: $orange !important;
}


//catgegories

.add-categories {
  color: $white;
  font-size: 16px;
  margin-bottom: 0px;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 2px;
  p {
    margin-bottom: 6px;
  }
}

.categories {
  margin-left: -30px;
  display: flex;
  justify-content: center;
  input {
    visibility: hidden;
  }
  label {
    cursor: pointer;
    margin-bottom: 0px;
    // border: 1px solid $white;
    border-radius: 4px;
    width: 69px;
    height: 69px;
    padding: 4px;

  }
  .fas {
    color: $white;
    font-size: 32px;

  }
  p {
    color: $white;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Lato", "sans-serif";
    font-weight: lighter;
    letter-spacing: 2px;
  }
  .category {
    padding: 5px;
    margin: 2px 0px;
  }
  input:checked + label {
    // border: 1px solid $orange;
    background-color: $orange;
    .fas {
      color: white !important;
    }
    p {
      color: white;
    }
  }
}




* {
    box-sizing: border-box;
}
#plane {
    width: 209px;
    position: relative;
    margin: 100px auto 0 auto;
    -webkit-animation: horizontal 4s linear infinite;
    animation: horizontal 4s linear infinite;
}
@-webkit-keyframes horizontal {
    25% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes horizontal {
    25% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
#flaps {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: #000;
}
#flaps:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    border-right: 8px solid #000;
    border-top: 8px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: -43px;
    left: 56px;
    z-index: -1;
}
#head {
    width: 58px;
    height: 58px;
    border: 9px solid #000;
    border-radius: 50%;
    margin: 15px auto 0 auto;
    background-color: #fff;
    position: relative;
}
#head:before {
    content: "";
    display: block;
    border: 9px solid #000;
    border-radius: 25px;
    width: 29px;
    height: 60px;
    position: absolute;
    left: -3px;
    top: -31px;
    z-index: -1;
}
#head:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 7px solid #000;
    margin: 3px 0 0 3px;
}
#propeller {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 69px;
    top: 17px;
    -webkit-animation: spin 90ms linear infinite;
    animation: spin 90ms linear infinite;
    -webkit-transform-origin: center;
    transform-origin: center;
    padding-left: 32px;
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
#propeller:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
    top: 50%;
    z-index: 3;
    border-radius: 4px;
    left: 50%;
    margin: -4px 0 0 -4px;
}

#propeller span {
    top: -4px;
    display: block;
    position: absolute;
    width: 7px;
    height: 39px;
    background-color: #000;
    border-radius: 50% 50% / 50% 50%;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    border-left: 1px solid #fff;
}
#propeller span:nth-child(2) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
#propeller span:nth-child(3) {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
#landing-gear {
    position: relative;
    left: 85px;
    top: -5px;
}
#landing-gear span {
    display: block;
    width: 5px;
    height: 20px;
    background-color: #000;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    position: absolute;
}
#landing-gear span:before {
    content: "";
    display: block;
    border-radius: 5px;
    background-color: #000;
    position: absolute;
}
#landing-gear span:nth-child(1) {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    left: -12px;
    top: -9px;
}
#landing-gear span:nth-child(1):before,
#landing-gear span:nth-child(3):before {
    width: 20px;
    height: 8px;
}
#landing-gear span:nth-child(1):before {
    top: 15px;
    left: -9px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
#landing-gear span:nth-child(2) {
    left: 18px;
    top: -8px;
    z-index: -1;
}
#landing-gear span:nth-child(2):before {
    width: 13px;
    height: 8px;
    top: 17px;
    left: -4px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#landing-gear span:nth-child(3) {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    left: 47px;
    top: -11px;
}
#landing-gear span:nth-child(3):before {
    top: 16px;
    left: -7px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.loading-style{
  color: $white;
}

.loading-style h1 {
  font-size: 25px;
  font-weight: lighter;

}

