.teamate {
  border-radius: 50%;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
   height: 150px;
   width: 150px;
   opacity: 0.8;
   transition: 0.2s ease;
   p {
  width: 250px;
  color: white !important;
  }
}

.teamate:hover {
  opacity: 1;
}

.team {
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: 0.2s ease;
}

.team:hover {
  opacity: 1;
}


a:hover {
  text-decoration: none;
  color: $orange;
}

h3 {
  color: $orange;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  transition: 0.2s ease;
  padding: 5px;
}


h1 {
  margin-top: 20px;
  font-size: 70px;
  font-weight: bold;
}
