$white: #E3E3E3;
$blue: #467DCF;
$orange: #EF682E;

#you {
  color: $orange;
}

<<<<<<< HEAD
.card-trip-title {
  color: white;
  font-size: 30px;
  transition: 0.1s ease;
}

.card-trip-title:hover {
  text-decoration: none;
  color: $orange;
  font-size: 36px;
=======
#tripname {
  font-size: 28px;
  margin: 0;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 7px;
  color: $white;
  text-decoration: none;
>>>>>>> destination style, index page, pictures
}
