$white: #E3E3E3;
$blue: #467DCF;
$orange: #EF682E;

body {
  background: linear-gradient(160deg, #6a6ed4 0%, #a03cb0 159%);
}

.trips {
  text-align: center;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 2px;
  h3 {
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: left;
  color: $blue;
  }
}

.depature {
  margin-left: 10px;
}

.information {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  p {
    text-align: left;
    margin-bottom: 0px;
    color: $blue;
  }
  .info {
    margin-right: 50px;
  }
}

.itnineary .card {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;
  opacity: 0.8;
}


//modal

.modal-content {
  width: 80%;
  height:270px;
  border-radius: 5px;
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 2px;
  color: $blue;
}

.modal-header {
  border-bottom: none;
}

.modal-headline {
  margin-bottom: 0px;
  margin-top: 0px;
}

//buttons

#share {
  border: 1px solid $orange;
  background-color: $orange;
  color: $white;
  font-family: "Lato", "sans-serif";
  letter-spacing: 2px;
  font-weight: lighter;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

.buttons {
  position: relative;
  right: -270px;
  top: -40px;
}

.change {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  font-family: "Lato", "sans-serif";
  letter-spacing: 2px;
  font-weight: lighter;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

.book {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  font-family: "Lato", "sans-serif";
  letter-spacing: 2px;
  font-weight: lighter;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

