<div class="footer">
  <div class="content">
    <%= image_tag "joyage_blue.svg", {alt: "logo"}  %>
    <h2>Joyage</h2>
  </div>
  <div class="social-box">
    <div id="social"><i class="fab fa-twitter"></i></div>
    <div id="social"><i class="fab fa-facebook"></i></div>
    <div id="social"><i class="fab fa-instagram"></i></div>
<!--     <div class="social"><i class="fab fa-linkedin"></i></div>
    <div class="social"><i class="fab fa-dribbble-square"></i></div> -->
  </div>
</div>
