<div class="footer">
  <div class="content">
    <%= image_tag "joyage_blue.svg", {alt: "logo"}  %>
    <h2>Joyage</h2>
  </div>
<a href='http://www.joyage.fun/about'> Joyage final project for Le Wagon #264 Tel-Aviv</a>
<!--     <div class="social"><i class="fab fa-linkedin"></i></div>
    <div class="social"><i class="fab fa-dribbble-square"></i></div> -->
  </div>
</div>
