<div class="navbar-joyage fixed">
   <!-- Logo -->

  <div class="navbar-brand">
    <div class="header d-flex align-items-center">
      <% unless current_page?(root_path) %>
      <%= image_tag "Joyage.png" %>
      <h1>Joyage</h1>
      <% end %>
    </div>
  </div>

  <!-- User -->
  <div class="navbar-right" hidden-md hidden-lg>
    <p class="user">Log In</p>
    <p class="user">Sign Up</p>
  </div>
</div>
