<div class="navbar-joyage sticky">
   <!-- Logo -->
  <div class="navbar-brand">
    <div class="header d-flex align-items-center">
      <%= image_tag "Joyage.png" %>
      <h1>Joyage</h1>
    </div>
  </div>

  <!-- Logo -->
  <div class="navbar-right" hidden-md hidden-lg>
    <p class="user">Log In</p>
    <p class="user">Sign Up</p>
  </div>
</div>
