<div class="wrapper">
  <div class="container">
    <div class="headline">
      <h1>Thank you for booking<br>your trip with up!</h1>
    </div>

      <!-- Countdown timer for trip -->

    <div class="headline">
      <h1 id="countdown"></h1>
    </div>

    <!-- Recommendations for trip -->

    <div class="recommendations">
      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/df7Zv8pv5RQ/600x250)">Travel guide</div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/3jBU9TbKW7o/600x250)">Guided tours</div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/g5ZIXjzRGds/600x250)">Accomodation</div>

      <div class="card-recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1dW1vEJLlCQ/600x250)">Events</div>
    </div>
  </div>
</div>
