.recommendations {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.recommendations > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.recommendations > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-recommendation {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 64%;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 20px;
}

.clear-link {
  text-decoration: none;
  color: inherit;
}

