$white: #E3E3E3;
$blue: #467DCF;
$orange: #EF682E;

.recommendations {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.recommendations > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.recommendations > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-recommendation {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 64%;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  font-family: "Lato", "sans-serif";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 20px;
  letter-spacing: 3px;
  &:hover {
    text-decoration: none;
    color: $orange;
    font-size: 36px;
  }
}

.timer-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  h1 {
    color: $white;
    font-weight: lighter;
    letter-spacing: 17px;
  }
}


.clear-link {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
    &:hover {
    text-decoration: none;
    color: $orange;
    font-size: 36px;
  }
}

