.card-trip {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
   h2 {
    font-size: 28px;
    margin: 0;
    font-family: "Lato", "sans-serif";
    font-weight: lighter;
    letter-spacing: 7px;
    color: $white;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
}

.card-trip-infos h4 {
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 7px;
  color: $orange;
  margin-bottom: 0px;
  font-size: 24px;
  margin-left: 20px;
}

.card-photo {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-photo.full {
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
}

.results {
  display: flex-column;
  align-items: center;
}
