.card-trip {
  overflow: hidden;
  height: 195px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
   h2 {
    font-size: 28px;
    margin: 0;
    font-family: "Lato", "sans-serif";
    font-weight: lighter;
    letter-spacing: 7px;
    color: $white;
  }

}

.card-trip .card-trip-infos {
  padding: 16px;
}

.card-trip-infos h4 {
  font-family: "Lato", "sans-serif";
  font-weight: lighter;
  letter-spacing: 7px;
  color: $orange;
  margin-bottom: 0px;
  font-size: 24px;
  margin-left: 20px;
}



.results {
  display: flex-column;
  align-items: center;
}
